@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400&display=swap');

video{max-width: 100%;}

main{
    width: 70%;
    margin:0 auto;
}

/* section1 */
div.ourstory{
    display: flex;
    margin:50px 0;
    height: 60vh;
    align-items: center;
    justify-content: space-between;
}

div.ourstory_img{
    width: 30%;
}

div.ourstory_write{
    width: 60%;
}

p.ourstory_title{
    text-align: center;
    font: normal 16px /2 'Yeseva One', cursive;
}

p.desc{
    font: 200 14px/ 1.5 'Noto Sans KR', sans-serif;
    padding:20px 0;
}

div.topbtn{
   position: fixed;
   width: 40px; height: 50px;
   right:50px; bottom:50px;
   padding:10px;
}