@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400&display=swap');

video{max-width: 100%;}

main{
    width: 70%;
    margin:0 auto;
}

/* section1 */
div.ourstory{
    display: flex;
    margin:50px 0;
    height: 60vh;
    align-items: center;
    justify-content: space-between;
}

div.ourstory_img{
    width: 30%;
}

div.ourstory_write{
    width: 60%;
}

p.ourstory_title{
    text-align: center;
    font: normal 16px /2 'Yeseva One', cursive;
}

p.desc{
    font: 200 14px/ 1.5 'Noto Sans KR', sans-serif;
    padding:20px 0;
}

div.topbtn{
    position: fixed;
    right:50px; bottom:50px;
    width: 30px; height: 30px;
    padding:10px;
    border-radius: 30%;
    background-color: #0066339f;
   }
  
   div.arrow_top{
    position: fixed;
    right:66px; bottom:70px;
    width: 15px; height: 15px;
    transform: rotate(315deg);
    border:3px solid #000;
    border-left: none;
    border-bottom:none;
   }
  
  div.arrow_stick{
    position: fixed;
    right: 44px;
    height: 30px; width: 30px;
    border:3px solid #000;
    border-top:none;
    border-bottom:none;
    border-right:none;
  }