@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400&display=swap');

/* main */
main{
    width: 60%;
    margin:0 auto;
}

div.newsroom_title{
    width: 80%;
    margin:0 auto;
}

div.newsroom_title>h2{
    width: 20%;
    padding:20px 0;
    text-align: left;
    font:bold 24px / 2 'Noto Sans KR', sans-serif;
    border-bottom: 3px solid #000;
}

/* products */
div.newsroom{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

div.news{
    width: 45%;
    margin:40px 0;
    text-align: center;
}

div.news_name>p{
    font: bold 16px/ 2 'Noto Sans KR', sans-serif;
    padding-left: 10px;
    color:gray;
    text-align: left;
}

div.news_title{
    line-height: 1.8;
    font-size: 14px;
    font-family: 'Noto Sans KR', sans-serif;
    padding:20px 0;
}

.view_story{
    width: 100%;
    background-color: white;
    border:1px solid #000;
    margin-top:20px;
    font: normal 16px/ 2.2 'Noto Sans KR', sans-serif;
}

.view_story:hover{
    cursor: pointer;
}

div.topbtn{
    position: fixed;
    width: 40px; height: 35px;
    right:50px; bottom:50px;
    padding:10px;
    border:1px solid lightgray;
    border-radius: 50%;
 }