@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400&display=swap');

img{max-width: 100%;}

header{
    width: 100vw;
    height: 80px;
}

header>div{
    height: 100%;
    text-align: center;
}

header>div>h1{
    height: 100%;}

header img{
    height: 100%;}

div.nav{
width: 15%;
position: fixed;
}

nav>ul{
    padding:30px 0;
    text-align: center;
}

nav>ul>li{
    margin:20px 0;
}

nav>ul>li>a{
    font-size: 18px;
}

nav a{
    text-decoration: none;
    color:rgb(13, 13, 13);
    font:100 16px/1.5 'Yeseva One', cursive;
}

nav a:hover{
    text-decoration: underline;
    cursor: pointer;
}

nav>ul>li>ul{
    display: none;
    text-align: center;
}

nav>ul>li>ul>li{
    padding-left:40px;
    margin:10px 0;
}

nav>ul>li>ul>li>a{
    font:normal 14px/1.5 'Yeseva One', cursive;
}

/* main */
main{
    width: 70%;
    margin:0 auto;
}

div.product_title{
    width: 80%;
    margin:0 auto;
    border-bottom: 1px solid #000;
}

div.product_title>h2{
    padding:20px 0;
    font-family: 'Yeseva One', cursive;
    text-align: center;
    font-size: 22px;
}

/* products */
div.products{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

div.product{
    width: 34%;
    text-align: center;
}

/* div.product_desc{
    display: flex;
    justify-content: space-evenly;
} */

div.product_name>p{
    font-size: 16px;
    font-family: 'Noto Sans KR', sans-serif;
    line-height: 2;
    padding-bottom: 10px;
    text-align: center;
}

div.product_price{
    font-size: 14px;
    font-family: 'Noto Sans KR', sans-serif;
    line-height: 2;
    text-align: right;
}

div.product_info{
    border-top:1px solid #000;
    line-height: 1.5;
    font-size: 14px;
    font-family: 'Noto Sans KR', sans-serif;
}

/* topbtn */
div.topbtn{
    position: fixed;
    width: 40px; height: 50px;
    right:50px; bottom:50px;
    padding:10px;
 }

 /* footer */
 footer{
    width: 98%;
    margin:0 auto;
    border-top:1px solid #000;
}

footer>div.foot{
    width: 40%;
    margin:30px auto;
}

div.foot>h2{
    font-size: 14px;
    padding-bottom:30px;
    text-align: center;
    font-family: 'Noto Sans KR', sans-serif;
}

div.sns{
    display: flex;
    justify-content: space-evenly;

}

div.sns div{
    display: flex;
}

div.sns div>a{
    height: 50%;
    align-self: center;
}

div.sns p{
    font-size: 14px;
    font-family: 'Noto Sans KR', sans-serif;
    line-height: 3;
}

div.name{
    color:gray;
    text-align: center;
    padding:10px 0;
    font-size: 12px;
    font-family: 'Noto Sans KR', sans-serif;
}

