/* 데스크탑 1400 */
@media screen and (min-width: 1400px){
}

/* 데스크탑 1399 - 1300 */
@media screen and (max-width: 1399px) and
(min-width:1300px){

}

/* 태블릿 1023 - 768  */
/* 1024-924 */
@media screen and (max-width: 1024px) and
(min-width:768px){
    div.perpetual_title_env {
        margin:25px auto;
    }

    div.perpetual_title>h2, div.perpetual_title_env>h2{
        font-size: 40px;
    }

    header{
        position: relative;
    }

    header>div>div.menu{
        position: absolute;
        left:10px;
        display: block;
        z-index:100;
    }

    header>div>div.menu>img{
        width: 30px;
    }

    h1#logo{
        position: absolute;
        top:0; left:45%;
    }

    div.nav{
        width: 30%;
        z-index:100;
    }

    nav{
        background: linear-gradient(90deg, #0b3e27, #197149);
        height: 100vh;
        position: relative;
        display: none;
    }

    nav>ul>li{
        margin:60px 0;
    }

    nav>ul>li>a{
        font-size: 20px;
        color:white;
    }

    .closebtn{
        width: 30px;
        position: absolute;
        top:20px; right:30px;
    }

    div.footerinfo{
        width: 100%;
    }

    .perpetual_box01{
        width: 90%;
        left:0;
    }

    .box02_pic>div.box02_desc{
        left:5%;
    }

    .box02_desc>p{
        font-size: 15px;
    }
}

/* 가로태블릿 767 - 480 */
@media screen and (max-width:767px) and
(min-width: 480px){
    header{
        position: relative;
    }

    header>div>div.menu{
        position: absolute;
        left:10px;
        display: block;
        z-index:100;
    }

    header>div>div.menu>img{
        width: 30px;
    }

    h1#logo{
        position: absolute;
        top:0; left:45%;
    }

    div.nav{
        width: 100%;
        z-index: 100;
    }

    nav{
        background: linear-gradient(90deg, #0b3e27, #197149);
        height: 100vh;
        position: relative;
        display: none;
    }

    nav>ul>li{
        margin:50px 0;
    }

    nav>ul>li>a{
        font-size: 40px;
        color:white;
    }

    nav>ul>li>ul>li>a{
        color:white;
    }

    .closebtn{
        width: 45px;
        position: absolute;
        top:20px; right:30px;
    }

    div.footerinfo{
        width: 100%;
        display: block;
    }

    div.sns{
        justify-content: space-between;
    }

    div.sns div{
        margin:0 auto;
    }

    div.QandA{
        text-align: center;
        margin:30px 0;
    }
    
    div.QandA>p{
        padding:5px 0;
    }

    div.perpetual_title_env{
        margin:30px 0;
    }

    div.perpetual_title>h2, div.perpetual_title_env>h2{
        font-size: 30px;
    }

    .perpetual_box01{
        width: auto;
        left:0; top:auto;
        padding:20px;
        margin-bottom:0;
    }
    .perpetual_box01>h2{
        line-height: 2;
    }
    .box01_updesc, .box01_downdesc{
        font-size: 14px;
        padding:15px 0;
    }

    .box02_pic>div.box02_desc{
        left:0;
    }

    .box02_desc>p{
        font-size: 14px;
    }

    .environmentfooter{
        bottom:-110%;
    }
}


/* 모바일  */
@media screen and (max-width: 479px) and (min-width:375px){
    header{
        position: relative;
    }

    header>div>div.menu{
        position: absolute;
        left:10px;
        display: block;
        z-index:100;
    }

    header>div>div.menu>img{
        width: 30px;
    }

    h1#logo{
        position: absolute;
        top:0; left:45%;
    }

    div.nav{
        width: 100%;
        z-index:100;
    }

    nav{
        background: linear-gradient(90deg, #0b3e27, #197149);
        height: 100vh;
        position: relative;
        display: none;
    }

    nav>ul>li{
        margin:45px 0;
    }

    nav>ul>li>a{
        font-size: 35px;
        color:white;
    }

    nav>ul>li>ul>li>a{
        color:white;
    }

    .closebtn{
        width: 45px;
        position: absolute;
        top:20px; right:30px;
    }

    div.footerinfo{
        width: 100%;
        display: block;
    }

    div.sns{
        justify-content: space-between;
    }

    div.sns div{
        display: block;
        text-align: center;
    }

    div.QandA{
        text-align: center;
        margin:30px 0;
    }
    
    div.QandA>p{
        padding:5px 0;
    }

    div.topbtn{
        display: none;
    }

    div.perpetual_title_env{
        margin:30px 0;
    }

    div.perpetual_title>h2, div.perpetual_title_env>h2{
        font-size: 30px;
    }

    .perpetual_box01{
        width: auto;
        left:0; top:auto;
        padding:20px;
        margin-bottom:0;
    }
    
    .perpetual_box01>h2{
        line-height: 2;
    }

    .box01_updesc, .box01_downdesc{
        font-size: 14px;
        padding:15px 0;
    }

    .box02_pic>div.box02_desc{
        left:0;
    }

    .box02_desc>p{
        font-size: 14px;
    }

    .environmentfooter{
        bottom:-120%;
    }
}